# usage: pip install -r requirements.txt

h5py 
git+https://github.com/hdfgroup/h5pyd.git       
numpy
uncertainties
omas
matplotlib
scipy==1.10.1
xarray==0.14.1      
fortranformat
# mysql-connector-python   